// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #f6c90e;
$orange: #E67E22;
$green: #ADE3DD;
$gray: #333333;
$downy: #6CCFC5;
$light-gray: #F4F4F4;
$white : #ffffff;
